<div class="coupon-container">
<div class="coupon">
  <div class="container">
  <img src="assets/macbook_air.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>15% OFF ON YOUR PURCHASE</b></h2>
    <p>Own an macbook at a reduced price and super No Cost EMI's options available</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">WIPROG5</span></p>
    <p class="expire">Expires: November 12, 2022</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="assets/nike_shoes.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>40% OFF ON YOUR PURCHASE</b></h2>
    <p>all Nike Shoes  at much more discounted price.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">NIKE200</span></p>
    <p class="expire">Expires: November 10, 2023</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="assets/sunglass.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>10% OFF ON YOUR PURCHASE</b></h2>
    <p>Stand out of the crowd. Buy the one of the trusted sunglass on discounted rates.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">VELO10</span></p>
    <p class="expire">Expires: August 10, 2022</p>
  </div>
</div>
 

<div class="coupon">
  <div class="container">
  <img src="assets/apple_airpods_pro.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>5% OFF ON YOUR PURCHASE</b></h2>
    <p>Tune Music with new apple airpods pro. gurb on special discount</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">AIR10</span></p>
    <p class="expire">Expires: August 22, 2022</p>
  </div>
</div>



